@import '../variables';

#projects-container {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  a {
    outline-color: $Portfolio-2-hex;
  }
  
  a:link {
    color: $Portfolio-1-hex;
  }
  
  a:visited {
    color: $Portfolio-5-hex;
  }
  
  a:hover {
    color: $Portfolio-5-hex;
  }
  
  a:active {
    color: $Portfolio-1-hex;
  }
}

.project-image {
  max-width: 100%;
  width: 60em;
  margin-top: 2em;
}

#project-list {
  padding: 1em 2em 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: $default-shadow;
  width: 600px;
  min-height: 600px;
  padding: 1em;
  margin: 1em;

  transition: all 100ms ease-in-out; 

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}