@import '../variables';

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $Portfolio-3-hex;
}

.learn-more {
  width: 200px;
}

#cursor {
  border-left: .1em solid $Portfolio-5-hex;;
  animation: blink .7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

// .typewriter h1 {
//   overflow: hidden;
//   border-right: .15em solid $Portfolio-5-hex;
//   white-space: nowrap; 
//   margin: 0 auto;
//   animation: 
//     typing 3.5s steps(40, end),
//     blink-caret .75s step-end infinite;
// }

// @keyframes typing {
//   from { width: 0 }
//   to { width: 100% }
// }

// @keyframes blink-caret {
//   from, to { border-color: transparent }
//   50% { border-color: $Portfolio-5-hex; }
// }