@import '../variables';

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $Portfolio-3-hex;
}

.about-me-button {
  opacity: 0;
  padding: 1em;
  background-color: $Portfolio-3-hex;
  outline: none;
  text-transform: uppercase;
  border: none;
  font-size: 0.85em;
  
  span {
    margin-left: 0.6em;
  }
}

.button-hover:hover {
  cursor: pointer;
}

#cursor {
  border-left: .1em solid $Portfolio-5-hex;;
  animation: blink .7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// .typewriter h1 {
//   overflow: hidden;
//   border-right: .15em solid $Portfolio-5-hex;
//   white-space: nowrap; 
//   margin: 0 auto;
//   animation: 
//     typing 3.5s steps(40, end),
//     blink-caret .75s step-end infinite;
// }

// @keyframes typing {
//   from { width: 0 }
//   to { width: 100% }
// }

// @keyframes blink-caret {
//   from, to { border-color: transparent }
//   50% { border-color: $Portfolio-5-hex; }
// }