@import '../variables';

#contact-table {
  text-align: left;

  td {
    padding: 0.5em;
  }

  img {
    height: 20px;
    width: 20px;
  }

  a {
    outline-color: $Portfolio-5-hex;
  }

  a:link {
    color: $Portfolio-1-hex;
  }
  
  a:visited {
    color: $Portfolio-1-hex;
  }
  
  a:hover {
    color: $Portfolio-4-hex;
  }
  
  a:active {
    color: $Portfolio-1-hex;
  }

}