/* Color Theme Swatches in Hex */
$Portfolio-1-hex: #373740;
$Portfolio-2-hex: #9CC4CA;
$Portfolio-3-hex: #BBF2F2;
$Portfolio-4-hex: #F2E2DF;
$Portfolio-5-hex: #F2ACAC;

/* Color Theme Swatches in RGBA */
$Portfolio-1-rgba: rgba(55,55,64, 1);
$Portfolio-2-rgba: rgba(156,196,202, 1);
$Portfolio-3-rgba: rgba(187,242,242, 1);
$Portfolio-4-rgba: rgba(242,226,223, 1);
$Portfolio-5-rgba: rgba(242,172,172, 1);

// Fonts

$primary-font: 'Playfair Display', serif;
$accent-font: 'Raleway', sans-serif;