@import './variables';

.App {
  text-align: center;
}

#nav-bar {
  position: relative;
  height: 56px;
}

// .sticky {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 1;
// }

#about, #projects, #contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

#contact {
  background-color: $Portfolio-2-hex;
  padding: 1em 1em;
}