.App {
  text-align: center;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 56px;
}

// .sticky {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 1;
// }

#about, #projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}