@import './variables';

nav {
  background-color: $Portfolio-4-hex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#nav-center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: $Portfolio-1-hex;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85em;
  
  p:hover {
    cursor: pointer;
    color: $Portfolio-2-hex;
  }
}