@import './variables';

nav {
  background-color: $Portfolio-5-hex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 200ms;
}

#nav-center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: $Portfolio-1-hex;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85em;
}

.nav-item {
  height: 56px;
  border: none;
  background-color: $Portfolio-5-hex;
  text-transform: uppercase;
  font-size: 0.9em;
  outline-color: $Portfolio-4-hex;
}

.nav-item:hover {
  cursor: pointer;
  color: $Portfolio-4-hex;
}